.main-header {

  & {
    max-width: 100vw;
  }
  
  .top-bar {
    & {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--clr-secondary);
    }
  
  
    .logo {
      margin-left: 1rem;
      width: 25rem;
    }
  
    .top-bar-actions {
      & {
        display: flex;
        align-items: center;
      }
  
      #auth-actions {
        & {
          margin: 0 1rem;
        }
    
        button {
          margin: 1rem 0.5rem;
        }
      }
  
      #networks-links {
        & {
          margin-right: 1rem;
        }
      }

      .mobile-nav {
        & {
          display: none;
        }
      }
    }
   
  }
  
  .main-nav {
    & {
      padding: 1rem;
      background-color: var(--clr-primary);
      box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 10px 0px;
    }

    ul {
      margin: 0;
      display: flex;
      justify-content: center;
    }

    li {
      margin: 0 2rem;
    }

    a {
      transition: color 0.3s;
    }

    a:hover {
      color: var(--clr-markup)
    }
  }
}

@media all and (max-width: 1000px) {
  .main-header {

    .top-bar {

      .logo {
        width: 15rem;
      }
      
      .top-bar-actions {


        #auth-actions {
          display: none;
        }

        #networks-links {
          display: none;
        }
        
        .mobile-nav {
          & {
            display: flex;
            margin-right: 0.5rem;
            padding-top: 0.75rem;
          }

          img {
            width: 2rem;
            margin: 0 1rem;
          }
          
          .hamburger {
            img {
              display: block;
              margin: auto 0.5rem;
              width: 1.5rem;
            }

            p {
              margin-top: 0.25rem;
              margin-bottom: 0;
              font-size: 0.75rem;
              text-align: center;
            }
          }
         
        }
      }
    }

    .main-nav {
      display: none;
    }
    
  }
}
